#navbar {
    display: flex;
    justify-content: end;
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
}

#show_products {
    height: 40px;
    width: 20%;
    font-size: larger;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    cursor: pointer;
    box-shadow: rgba(192, 154, 154, 0.24) 0px 3px 8px;
}

#show_products:hover {
    background-color: teal;
    color: white;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#container {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

#container>h2{
    text-align: center;
}

input{
    display: block;
    margin: auto;
    width: 75%;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
}

#add_product{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 33%;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    cursor: pointer;
    box-shadow: rgba(192, 154, 154, 0.24) 0px 3px 8px;
}

#add_product:hover {
    background-color: teal;
    color: white;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}