#navbar {
    display: flex;
    justify-content: end;
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
}

/* Add more Products button */
#add_more_product {
    height: 40px;
    width: 20%;
    font-size: larger;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    cursor: pointer;
    box-shadow: rgba(192, 154, 154, 0.24) 0px 3px 8px;
}

#add_more_product:hover {
    background-color: teal;
    color: white;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Products display */
#all_products {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    gap: 40px;
    margin-top: 30px;

}

/* boxes */
.box {
    height: 500px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.box>img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h4,
p,
button {
    margin-left: 15px;
}

/* remove product button */
#remove_product {
    width: 20%;
    height: 25px;
    background-color: crimson;
    border-radius: 5px;
    border-color: crimson;
    cursor: pointer;
}

#remove_product:hover {
    background-color: red;
    color: white;
}